<header>
  <img width="50" src="assets/logo.svg" />
  <h1 class="mat-display-1">Hustle Timer</h1>
</header>
<main>
  <router-outlet #router></router-outlet>
</main>

<mat-toolbar color="accent" class="bottom-nav">
  <button
    mat-icon-button
    color="primary"
    routerLink="/about"
    routerLinkActive="nav-active"
    aria-label="Example icon-button with a heart icon"
  >
    <div class="nav-item">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </div>
  </button>
  <button
    mat-icon-button
    color="primary"
    routerLink="/"
    routerLinkActive="nav-active"
    [routerLinkActiveOptions]="{ exact: true }"
    aria-label="Example icon-button with a heart icon"
  >
    <div class="nav-item">
      <mat-icon>timer</mat-icon>
      <span>Timer</span>
    </div>
  </button>
  <button
    mat-icon-button
    color="primary"
    routerLink="/contact"
    routerLinkActive="nav-active"
    aria-label="Example icon-button with a heart icon"
  >
    <div class="nav-item">
      <mat-icon>contact_mail</mat-icon>
      <span>Contact</span>
    </div>
  </button>
</mat-toolbar>
