// Import material theming functions
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$hustle-timer-primary: mat-palette($mat-blue-gray, 900);
$hustle-timer-accent: mat-palette($mat-yellow, 500);
$hustle-timer-warn: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($hustle-timer-primary);
$accent: mat-color($hustle-timer-accent);
$warn: mat-color($hustle-timer-warn);
